<p>'Testing infrastructure working!'</p>
<form action="/names" method="post">
  <input type="text" name="player_name_1"><br>
  <input type="text" name="player_name_2"><br>
  <input type="submit" value="Submit">
</form>