<p><%= @player_1.name %> vs. <%= @player_2.name %></p>
<p><%= @player_2.name %>: <%= @player_2.hit_points %> HPs</p>
<form action="/attack" method="get">
  <input type="submit" value="Attack">
</form>
